@value localCss: "./local.css";

.a :external(fooga from "./simple.css") {
    color: green;
}

.b:hover :external(booga from localCss) {
    background: blue;
}

:external(fooga from "./simple.css") :external(booga from localCss) {
    color: red;
}
